{% extends "database/base.html" %}

{% block content %}

{% if request.user == user %}
    <div class="row">
        <div class="span4">
            <a class="btn" href="/db/profile/edit/">Edit Profile</a>
            &nbsp;
            <a class="btn" href="/db/profile/{{ user.pk }}/sse_positions/add/">Add SSE Position</a>
        </div>
    </div>
{% elif request.user.is_superuser %}
    <div class="row">
        <div class="span4">
            <a class="btn" href="/db/profile/{{ user.pk }}/edit/">Edit Profile</a>
            &nbsp;
            <a class="btn" href="/db/profile/{{ user.pk }}/sse_positions/add/">Add SSE Position</a>
        </div>
    </div>
{% endif %}
<br />
<div class="row">
    <div class="span1 well">
        <img src="{{ user.picture_url }}" class="img">
    </div>
    <div class="span7">
        <h1> {{user.first_name}} {{ user.last_name}}{% if user.last_sse_position %}&nbsp;<small>{{ user.last_sse_position.title }}</smalL>{% endif %}</h1>

        {% if user.linkedin_profile_url %}
            <p><a href="{{ user.linkedin_profile_url }}" class="btn btn-info">Linkedin Profile</a></p>
        {% endif %}
        
        <ul class="unstyled">
        {% if user.headline %}
            <li><strong>Current Job: </strong>{{ user.headline }}</li>
        {% endif %}
        {% if user.phone %}
            <li><strong>Phone: </strong>{{ user.phone }}</li>
        {% endif %}
        {% if user.sse_email %}
            <li><strong>SSE Email: </strong>{{ user.sse_email }}</li>
        {% endif %}
        {% if user.primary_email %}
            <li><strong>Email: </strong>{{ user.primary_email}}</li>
        {% endif %}
            <br />
        {% if sse_positions %}
            <li><strong>SSE Positions</strong>
                <ul class="unstyled">
                    {% for position in sse_positions %}
                        <li>{{ position.title }}, {{ position.start_year }} - {{ position.end_year }}&nbsp;
                            <a href="/db/profile/{{ request.user.pk }}/sse_positions/{{ position.pk }}/edit/">Edit</a>
                            &nbsp;
                            <a href="/db/profile/{{ request.user.pk }}/sse_positions/{{ position.pk }}/delete/">Delete</a>
                        </li>
                    {% endfor %}
                </ul>
            </li>
        {% endif %}
        <br />
        {% if experiences %}
            <li><strong>Resume</strong>
                <ul class="unstyled">
                    {% for experience in experiences %}
                        <li>{{ experience.title }}, {{ experience.organization }} {{ experience.start_year }} - {{ experience.end_year }}</li>
                    {% endfor %}
                </ul>
            </li>
        {% endif %}
    </div>
</div>

{% endblock %}